body {
    background-image: url("cork-wallet.png");
    margin: 0;
    padding: 0;
    color: #553300;
}


.mainbio {
    border-radius: 25px;
    background-color: hsla(0, 13%, 69%, 0.1);
    box-shadow: 5px 5px hsla(0, 13%, 69%, 0.1);
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 30px;
}

small {
    color: #553300;
}

.text-block {
    width: 200px;
    height: 35px;
    background-color: #925a068a;
    border-style: 1px solid #553300;
    color: white;
    text-align: center;
}

#two {
    position: relative;
    bottom: -130px;
}

#three {
    position: relative;
    bottom: -130px;
}

#four {
    position: relative;
    bottom: -130px;
}

#five {
    position: relative;
    bottom: -130px;
}

#six {
    position: relative;
    bottom: -130px;
}

.copyright {
    background-color: hsla(0, 13%, 69%, 0.1);
    margin: 0;
    padding: 0;
   

}


a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #553300;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white
}

.profileLinks {
    display: flex;
    justify-content: center;
}

#first {
    padding-right: 20px;
}

#second{
    padding-left: 20px;

}

#thirdDiv{
    padding-left: 30px;
}

#fourthDiv{
    padding-left: 30px;
    color: white;
}

#linkSpacing{
    margin-bottom: 20px;
    background-color: #553300;
    border: #553300  
}

a.button a:hover{
    background-color: #553300;
    border: #553300;
    color: white;
    
}

