body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Caveat', cursive;
    height: 100%;
}

.main {
    max-width: 1000px;
    margin: auto;
    height: 100%;
}

.content {
    background-color: white !important;
    margin: 20px !important;
    padding: 15px;
    height: 350px !important;
    overflow: scroll !important;
    border-radius: 20px;
    border: 1px solid black;
}

@media only screen and (max-device-width: 1366px) {
    .changeColor {
        background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 600px) {
    .html {
        width: 50%;
        background-color: rgba(240, 98, 40, 0.5);
        box-shadow: 2px 2px 2px 2px #d15d2f;
    }
    
    .css {
        width: 40%;
        background-color: rgba(38, 77, 228, 0.5);
        box-shadow: 2px 2px 2px 2px #2642b6;
    }
    
    .js {
        width: 350%;
        background-color: rgba(240, 219, 79, 0.5);
        box-shadow: 2px 2px 2px 2px #ccba42;
    }
    
    .node {
        width: 35%;
        background-color: rgba(131, 205, 42, 0.5);
        box-shadow: 2px 2px 2px 2px #77b32e;
    }
    
    .mysql {
        width: 35%;
        background-color: rgba(242, 145, 18, 0.5);
        box-shadow: 2px 2px 2px 2px #e48810;
    }

}
.linkSpacing {
    margin-bottom: 20px;
    background-color: black !important;
    border: black !important;
    color: white !important;
    font-weight: bold;
}

/* New Styles */
.changeColor {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/gotham.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.changeColorMain {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/gotham.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.changeColor {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/gotham.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.changeColorSkills {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/gotham.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#image-bio {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-radius: 50%;
}

.image-icons {
    height: 70px;
    width: 60px;
    margin-left: 5px;

}

#image-iconsNode {
    height: 70px;
    width: 90px;
    margin-right: 15px;


}

#image-iconsSQL {
    height: 70px;
    width: 100px;
    margin-right: 15px;

}

a.linkHover:hover {
    color: white;
    font-weight: bold;
}

.webTitle {
    font-family: 'Permanent Marker', cursive;
    color: #1B4965;
}

#myButton {
    font-family: 'Caveat', cursive;
}

#customFont {
    font-family: 'Poiret One', cursive;
}

#customFontBody {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 22px;
}

.customFontBody {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 22px;
    color: black;

}

.customSpacing {
    padding: 30px;
}

#navLink,
a.navLink:active,
a.navLink:link {
    font-family: 'Caveat', cursive;
    color: white
}

.yourElement {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}


a.navLink:link {
    font-family: 'Caveat', cursive;
    color: white
}

#navLinkBlack,
a.navLinkBlack:active,
a.navLinkBlack:link {
    font-family: 'Caveat', cursive;
    color: black;
}

a.navLinkBlack:link {
    font-family: 'Caveat', cursive;
    color: black;

}

.portfolio {
    text-align: center;
    padding-top: 65px !important;
}

#h1Port {
    text-align: left;
    font-family: 'Caveat', cursive;
    font-size: 40px;
}

#portfolio {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.footerMagic {
    height: 100px !important;
    text-align: center
}

/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container {
    width: 100%;
    /* Full width */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    padding-right: 20px;
    /* Add bottom padding */
    margin-right: 30px;
    color: white;
    font-weight: bold;
    /* White text color */
    font-family: Georgia, 'Times New Roman', Times, serif
}

.html {
    width: 100%;
    background-color: rgba(240, 98, 40, 0.5);
    box-shadow: 2px 2px 2px 2px #d15d2f;
}

.css {
    width: 80%;
    background-color: rgba(38, 77, 228, 0.5);
    box-shadow: 2px 2px 2px 2px #2642b6;
}

.js {
    width: 60%;
    background-color: rgba(240, 219, 79, 0.5);
    box-shadow: 2px 2px 2px 2px #ccba42;
}

.node {
    width: 65%;
    background-color: rgba(131, 205, 42, 0.5);
    box-shadow: 2px 2px 2px 2px #77b32e;
}

.mysql {
    width: 60%;
    background-color: rgba(242, 145, 18, 0.5);
    box-shadow: 2px 2px 2px 2px #e48810;
}