

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Caveat', cursive;
}

/*
.mainbio {
    border-radius: 25px;
    background-color: hsla(0, 13%, 69%, 0.1);
    box-shadow: 5px 5px hsla(0, 13%, 69%, 0.1);
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 30px;
}

small {
    color: #553300;
}

.text-block {
    width: 200px;
    height: 35px;
    background-color: #925a068a;
    border-style: 1px solid #553300;
    color: white;
    text-align: center;
}
*/

 .linkSpacing{
    margin-bottom: 20px;
    background-color: black !important;
    border: black !important; 
    color: white !important;
    font-weight: bold;
} 

/* New Styles */
.changeColor {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/assets/images/gotham.png");
    background-repeat: no-repeat;

}

a.linkHover:hover {
    color: #FF69B4;
    border: 2px solid #FF69B4;
    font-weight: bold;
}

.webTitle {
    font-family: 'Permanent Marker', cursive;
    color: #1B4965;
}

#myButton {
    font-family: 'Caveat', cursive;
}

#customFont {
    font-family: 'Poiret One', cursive;
}
#customFontBody {
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 22px;
    color: rgb(34, 34, 34);
   
}

#navLink,
a.navLink:active,
a.navLink:link {
    font-family: 'Caveat', cursive;
    color: black;
}

a.navLink:link{
    font-family: 'Caveat', cursive;
    color:white;
   
}

.portfolio{
    text-align: center;
    padding-top: 65px !important;
}

#h1Port{
text-align: left;
font-family: 'Caveat', cursive;
font-size: 40px;
}

#portfolio{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;  
}